.inputField {
  font-size: 20px;
  border: 1px solid #262626;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.inputData {
  display: inline-block;
  width: 140px;
  text-align: right;
}
