<section>
  <div class="container">
    <h2>Home Page</h2>
    <br />
    <p class="fs-4">Data Parsing through Params</p>
    <p>
      <a
        class="btn btn-dark"
        [routerLink]="['profile', { name: 'Lionel Messi' }]"
        >Lionel Messi Profile</a
      >

      <a
        class="btn btn-dark ms-3"
        [routerLink]="['profile', { name: 'Chritiano Ronaldo' }]"
        >Chritiano Ronaldo Profile</a
      >

      <a
        class="btn btn-dark ms-3"
        [routerLink]="[
          'service',
          { service: 'Website and Android App Development' }
        ]"
        >Service Info</a
      >
    </p>
    <br />
    <p class="fs-4">Data Parsing through Button</p>
    <button class="btn btn-dark" (click)="navigateToContact()">
      Navigate Contact
    </button>
  </div>
</section>
