<section class="mt-3">
  <div class="container">
    <h2 class="text-center">Angular For Loop</h2>

    <h4>For Loop for Single Value Array</h4>
    <ul>
      @for(user of selectedUser; track user){
      <li>{{ user }}</li>
      }
    </ul>

    <h4>For Loop for Array Object</h4>

    <div>
      <h4>Selected Hero : {{ selectedHero }}</h4>

      @for(heroItem of marvelHeroes; track heroItem; let id=$index ){

      <div>
        <p class="mb-1 mt-3">
          <span>{{ id + 1 }}]</span> <br />
          <span> Name : {{ heroItem.name }} </span> <br />
          <span> Hero Name : {{ heroItem.heroName }} </span> <br />
          <span> Strength : {{ heroItem.strength }} </span> <br />
          <span>
            Attacking Skills : @for(attack of heroItem.attackTypes; track
            attack){
            {{ attack }}, }
          </span>
        </p>
        <button class="rounded" (click)="userSelectedHero(heroItem.heroName)">
          Select My Hero
        </button>
      </div>

      }
    </div>
  </div>
</section>

<hr />
